<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Etchr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D0BED1821E5F4905009BF61B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0BED1961E5F4905009BF61B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0BED1A11E5F4905009BF61B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
